<div>
	<!-- BEGIN PAGE HEADER-->
	<h3 class="page-title" data-ng-bind="$state.current.data.pageTitle"></h3>
	 <div data-ncy-breadcrumb></div>
</div>
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="icon-equalizer font-green-sharp"></i> <span
							class="caption-subject bold uppercase">新增部门</span>
					</div>
				</div>
				<div class="portlet-body form">
					<form name="addForm" class="form-horizontal"
						novalidate="novalidate">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-2 control-label">部门名称：<span class="required">*</span></label>
							<div class="col-md-4">
								<input type="text" required name="deptName"
									class="form-control data-ng-pristine data-ng-untouched data-ng-valid"
									placeholder="请输入部门名称" data-ng-model="vo.deptName">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">部门负责人：<span class="required">*</span></label>
							<div class="col-md-4">
										<select class="form-control" data-ng-model="vo.deptHeader"
											data-ng-options="item.userId as item.userName for item in userList">
											<option value="">请选择</option>
										</select>
									</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">备注：<span class="required">*</span></label>
							<div class="col-md-4">
								<textarea class="form-control" cols="20" rows="15" placeholder="请输入部门备注" required="required"
												maxlength="500" ng-model="vo.deptRemark"></textarea>
							</div>
						</div>
						
					</div>
					<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-2 col-md-4">
									<button class="btn blue" data-ng-click="deptSubmit()"
									data-ejp-no-more-submit data-ng-disabled="addForm.$invalid">
										<i class="fa fa fa-check"></i> 保存
									</button>
									<a href="#/dept_list.html" class="btn default"><i class="fa fa-chevron-circle-left"></i> 返回</a>
								</div>
							</div>
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
		</div>
	</div>
	<!-- END PAGE CONTENT-->
<script>
 $("#userBirth").datetimepicker({
	language:'cn',
	rtl:Metronic.isRTL(),
    format: "yyyy-mm-dd",
    autoclose: true,
    todayBtn: true,
    minView:"month"
    /* minuteStep:5,
    pickerPosition: "bottom-left" */
}); 
</script>



