<div>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title" data-ng-bind="$state.current.data.pageTitle"></h3>
    <div data-ncy-breadcrumb></div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i> <span
                        class="caption-subject bold uppercase">搜索</span> <span
                        class="caption-helper">输入信息搜索</span>
                </div>
            </div>
            <div class="portlet_body">
                <form class="form-horizontal searchbox">
                    <div class="form_body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">查询时间：</label>
                                <div class="col-md-5">
                                    <div class="input-group date-picker input-daterange">
                                        <input class="form-control ng-pristine ng-untouched ng-valid date-picker"
                                               type="text" data-ng-model="vo.queryTime"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </form>
    </div>

    <!-- 查询 -->
    <form class="form-horizontal" action="tasting/newMenuStatisToEexcel" novalidate method="get">
        <div class="form-actions">
            <div class="row">

                <div class="col-md-12" style="text-align: center">
                    <button type="button" class="btn blue"
                            ng-click="searchClick()">
                        <i class="fa fa-search"></i> 查询
                    </button>
                    <button type="button" class="btn default"
                            ng-click="resetClick()">
                        <i class="fa fa-eraser"></i> 清空
                    </button>
                    <button class="btn primary" type="submit">
                        <i class="icon-share-alt"></i> 导出
                    </button>
                    <br/>
                    <br/>
                </div>
            </div>


            <!--<div class="table-toolbar">-->
            <!--<div class="btn-group">-->
            <!--<a href="#/tasting_add.html"   class="btn blue" > <i class="fa fa-plus"></i> 新增小品会 </a>-->
            <!--</div>-->
            <!--</div>-->
            <div class="table-container">

                <table class="table table-striped table-bordered table-hover"
                       id="datatable_ajax">
                    <thead>
                    <tr class="heading">
                        <th>日期</th>
                        <th>仅酒批件数</th>
                        <th>仅酒批金额</th>
                        <th>转配送件数</th>
                        <th>转配送金额</th>
                        <th>仅酒批白酒件数</th>
                        <th>仅酒批白酒金额</th>
                        <th>转配送白酒件数</th>
                        <th>转配送白酒金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX" ng-repeat="item in vm.items ">
                        <td><span ng-bind="item.queryTime | date:'yyyy-MM-dd'"></span><input type="hidden"
                                                                                             name="queryTime"
                                                                                             ng-value="item.queryTime | date:'yyyy-MM-dd'"/>
                        </td>
                        <td><span ng-bind="item.jiupiGroupAmount"></span></td>
                        <td><span ng-bind="(item.jiupiGroupMoney || 0.00) | currency:''"></span></td>
                        <td><span ng-bind="item.jiupiDeliveryAmount"></span></td>
                        <td><span ng-bind="(item.jiupiDeliveryMoney || 0.00) | currency:''"></span></td>
                        <td><span ng-bind="item.liqueurGroupAmount"></span></td>
                        <td><span ng-bind="(item.liqueurGroupMoney || 0.00) | currency:''"></span></td>
                        <td><span ng-bind="item.liqueurDeliveryAmount"></span></td>
                        <td><span ng-bind="(item.liqueurDeliveryMoney || 0.00)| currency:''"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
</div>
<script>
    $('.date-picker').datepicker({
        rtl: Metronic.isRTL(),
        autoclose: true,
        todayBtn: "linked",
        todayHighlight: true,
        endDate: new Date()
    });
</script>
</div>