<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbpu.weboa.service.dao.PostPOMapper" >
  <resultMap id="BaseResultMap" type="com.hbpu.weboa.service.domain.Post" >
    <id column="PostId" property="postId" jdbcType="INTEGER" />
    <result column="PostName" property="postName" jdbcType="VARCHAR" />
    <result column="PostRemark" property="postRemark" jdbcType="VARCHAR"/>
    <result column="DeptId" property="deptId" jdbcType="INTEGER"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    PostId, PostName, PostRemark, DeptId
  </sql>

  <!-- 获取岗位信息列表 -->
  <select id="findPostList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
        <include refid="Base_Column_List" />
    from  posts
    <where>
	    <if test="postId != null"> and PostId = #{postId,jdbcType=INTEGER} </if>
    	<if test="postName != null and postName != ''"><![CDATA[ and PostName like concat('%', #{postName,jdbcType=VARCHAR}, '%')]]></if> 
	    <if test="deptId != null">and DeptId = #{deptId,jdbcType=INTEGER} </if>
	</where>
	  order by PostId desc
  </select>
  
  <select id="queryPostById" resultType="com.hbpu.weboa.service.domain.Post" parameterType="java.lang.Integer" >
    select 
        <include refid="Base_Column_List" />
    from  posts
    <where>
	    PostId = #{postId,jdbcType=INTEGER}
	</where>
  </select>
  
  
 <!-- 插入岗位信息 -->
  <insert id="addPost" parameterType="com.hbpu.weboa.service.domain.Post" useGeneratedKeys="true" keyProperty="postId">
    insert into posts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" > PostId,</if>
      <if test="postName != null" >PostName,</if>
      <if test="postRemark != null" > PostRemark,</if>
      <if test="deptId != null">DeptId,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >#{postId,jdbcType=INTEGER},</if>
      <if test="postName != null" > #{postName,jdbcType=VARCHAR},</if>
      <if test="postRemark != null">#{postRemark,jdbcType=VARCHAR},</if>
      <if test="deptId != null">#{deptId,jdbcType=INTEGER},</if>
    </trim>
  </insert>
  
  <!-- 修改岗位信息 -->
 <update id="updatePost" parameterType="com.hbpu.weboa.service.domain.Post" >
    update posts
    <set >
      <if test="postName != null" >PostName = #{postName,jdbcType=VARCHAR},</if>
      <if test="postRemark != null">PostRemark = #{postRemark,jdbcType=VARCHAR},</if>
      <if test="deptId != null">DeptId = #{deptId,jdbcType=INTEGER},</if>
    </set>
    where PostId = #{postId,jdbcType=INTEGER}
  </update>
  
  <!-- 删除岗位信息 -->
  <delete id="deletePost" parameterType="java.lang.Integer" >
  	delete from posts
  	 where
      PostId = #{postId,jdbcType=INTEGER}
  </delete>
</mapper>