<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbpu.weboa.service.dao.UserPOMapper" >
  <resultMap id="BaseResultMap" type="com.hbpu.weboa.service.domain.User" >
    <id column="UserId" property="userId" jdbcType="INTEGER" />
    <result column="UserName" property="userName" jdbcType="VARCHAR" />
    <result column="UserSex" property="userSex" jdbcType="INTEGER" />
    <result column="UserBirth" property="userBirth" jdbcType="DATE"/>
    <result column="UserAddr" property="userAddr" jdbcType="VARCHAR"/>
    <result column="UserTel" property="userTel" jdbcType="VARCHAR"/>
    <result column="UserPassword" property="userPassword" jdbcType="VARCHAR"/>
    <result column="UserPower" property="userPower" jdbcType="INTEGER"/>
    <result column="PostId" property="postId" jdbcType="INTEGER"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    UserId, UserName, UserSex, UserBirth, UserAddr,UserTel,UserPassword,UserPower,PostId
  </sql>
  
  <select id="findAllUserList" resultMap="BaseResultMap">
    select 
        <include refid="Base_Column_List" />
    from  users
  </select>
  

  <!-- 获取用户信息列表 -->
  <select id="findUserList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
        <include refid="Base_Column_List" />
    from  users
    <where>
    
    	<if test="userName != null and userName != ''"><![CDATA[ and UserName like concat('%', #{userName,jdbcType=VARCHAR}, '%')]]></if> 
	    <if test="userId != null"> and UserId = #{userId,jdbcType=INTEGER} </if>
	    <if test="userSex != null">and UserSex = #{userSex,jdbcType=INTEGER} </if>
		<if test="userTel != null">and UserTel = #{userTel,jdbcType=VARCHAR}</if>
	</where>
	  order by UserId desc
  	<if test="offset != null and limitnum!=null">
		limit
		#{offset,jdbcType=INTEGER},#{limitnum,jdbcType=INTEGER}
	</if>
  </select>
  
  <!-- 获取用户信息列表 数量-->
  <select id="getUserListNum" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select 
        count(1)
    from  users
     <where>
    	<if test="userName != null and userName != ''"><![CDATA[ and UserName like concat('%', #{userName,jdbcType=VARCHAR}, '%')]]></if> 
	    <if test="postId != null"> and PostId = #{postId,jdbcType=INTEGER} </if>
	    <if test="userSex != null">and UserSex = #{userSex,jdbcType=INTEGER} </if>
		<if test="userTel != null">and UserTel = #{userTel,jdbcType=VARCHAR}</if>
	</where>
  </select>
  
  <!-- 用户登录 -->
  <select id="userLogin" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" />
    from  users
     <where>
	    <if test="userTel != null"> 
	     and UserTel = #{userTel,jdbcType=VARCHAR} 
    	 and UserPassword = #{userPassword,jdbcType=VARCHAR}
    	 </if>
	</where>
  </select>
  <!-- 检测用户手机号是否重复 -->
  <select id="checkUserTel" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select UserId
    from  users
     <where>
	    <if test="userTel != null"> and UserTel = #{userTel,jdbcType=VARCHAR} </if>
	</where>
  </select>
  <!-- 通过主键获取用户详细信息 -->
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
        <include refid="Base_Column_List" />
    from
        users
    where
      UserId = #{userId,jdbcType=INTEGER}
  </select>
  
 <!-- 插入用户信息 -->
  <insert id="addUser" parameterType="com.hbpu.weboa.service.domain.User" useGeneratedKeys="true" keyProperty="userId">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" > UserId,</if>
      <if test="userName != null" >UserName,</if>
      <if test="userSex != null" > UserSex,</if>
      <if test="userBirth != null">UserBirth,</if>
      <if test="userAddr != null">UserAddr, </if>
      <if test="userTel != null" >UserTel,</if>
      <if test="userPassword != null" > UserPassword,</if>
      <if test="userPower != null" >UserPower,</if>
      <if test="postId != null" > PostId,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >#{userId,jdbcType=INTEGER},</if>
      <if test="userName != null" > #{userName,jdbcType=VARCHAR},</if>
      <if test="userSex != null">#{userSex,jdbcType=INTEGER},</if>
      <if test="userBirth != null">#{userBirth,jdbcType=DATE},</if>
      <if test="userAddr != null">#{userAddr,jdbcType=VARCHAR},</if>
      <if test="userTel != null">#{userTel,jdbcType=VARCHAR},</if>
      <if test="userPassword != null">#{userPassword,jdbcType=VARCHAR},</if>
      <if test="userPower != null">#{userPower,jdbcType=INTEGER},</if>
      <if test="postId != null">#{postId,jdbcType=INTEGER}</if>
    </trim>
  </insert>
  
  <!-- 修改用户信息 -->
 <update id="updateUser" parameterType="com.hbpu.weboa.service.domain.User" >
    update users
    <set >
      <if test="userAddr != null">UserAddr = #{userAddr,jdbcType=VARCHAR},</if>
      <if test="userTel != null">UserTel = #{userTel,jdbcType=VARCHAR},</if>
      <if test="userPassword != null">UserPassword = #{userPassword,jdbcType=VARCHAR},</if>
      <if test="userPower != null">UserPower = #{userPower,jdbcType=INTEGER},</if>
      <if test="postId != null">PostId = #{postId,jdbcType=INTEGER}</if>
    </set>
    where UserId = #{userId,jdbcType=INTEGER}
  </update>
  
  <!-- 删除用户信息 -->
  <delete id="deleteUser" parameterType="java.lang.Integer" >
  	delete from users
  	 where
      UserId = #{userId,jdbcType=INTEGER}
  </delete>
</mapper>