<div>
	<!-- BEGIN PAGE HEADER-->
	<h3 class="page-title" data-ng-bind="$state.current.data.pageTitle"></h3>
	 <div data-ncy-breadcrumb></div>
	<div class="row">
				<div class="col-md-10">
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-file"></i>审核详情
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#/permit.detail.html" class="reload">
								</a>
							</div>
						</div>
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form name="addForm" class="form-horizontal"
						novalidate="novalidate">
					<div class="form-body" >
						<div class="form-group">
							<label class="col-md-4 control-label">审核标题：</label>
							<div class="col-md-4">
								<span class="form-control-static" ng-bind="permit.permitTitle"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">审核内容：</label>
							<div class="col-md-4">
								<span class="form-control-static" ng-bind="permit.permitContext"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">审核状态：</label>
							<div class="col-md-4 form-control-static">
								<span class="label label-sm label-success" ng-show="permit.permitState == 1">待审核</span> 
							    <span class="label label-sm label-primary" ng-show="permit.permitState == 2">已通过</span>
								<span class="label label-sm label-danger" ng-show="permit.permitState == 3">未通过</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">审核提交人：</label>
							<div class="col-md-4">
								<span class="form-control-static" ng-bind="permit.submitUserName"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">审核提交时间：</label>
							<div class="col-md-4">
								<span class="form-control-static" ng-bind="permit.submitTime
								|date :'yyyy-MM-dd hh:mm'"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">审核处理人：</label>
							<div class="col-md-4">
								<span class="form-control-static" ng-bind="permit.handleUserName"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">审核处理时间：</label>
							<div class="col-md-4">
								<span class="form-control-static" ng-bind="permit.handleTime
								|date :'yyyy-MM-dd hh:mm'"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">审核处理意见：</label>
							<div class="col-md-4">
								<span class="form-control-static" ng-bind="permit.handleRemark"></span>
							</div>
						</div>
					</div>
					<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-4 col-md-4">
									<a href="#/permit_list.html" class="btn default"><i class="fa fa-chevron-circle-left"></i> 返回</a>
								</div>
							</div>
						</div>
					</form>
										</div>
									</div>
								</div>
							</div>
							<!-- END FORM-->
						</div>
					</div>
				</div>
			</div>
	<!-- END PAGE CONTENT-->
<script>
 $("#userBirth").datetimepicker({
	language:'cn',
	rtl:Metronic.isRTL(),
    format: "yyyy-mm-dd",
    autoclose: true,
    todayBtn: true,
    minView:"month"
    /* minuteStep:5,
    pickerPosition: "bottom-left" */
}); 
</script>
</div>



