<div>
	<!-- BEGIN PAGE HEADER-->
	<h3 class="page-title" data-ng-bind="$state.current.data.pageTitle"></h3>
	<div data-ncy-breadcrumb></div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-settings font-green-sharp"></i> <span
						class="caption-subject bold uppercase">搜索</span> <span
						class="caption-helper">输入信息搜索</span>
				</div>
			</div>
			<div class="portlet_body">
				<form class="form-horizontal searchbox">
					<div class="form_body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-3 control-label">用户编号：</label>
									<div class="col-md-9">
										<input type="text" ng-model="vo.userId" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-3 control-label">用户姓名：</label>
									<div class="col-md-9">
										<input type="text" ng-model="vo.userName" class="form-control">
									</div>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-3 control-label">用户电话：</label>
									<div class="col-md-9">
										<input type="text" ng-model="vo.userTel" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-3 control-label">用户性别：</label>
									<div class="col-md-9">
										<select class="form-control" data-ng-model="vo.userSex"
											data-ng-options="item.code as item.name for item in userSexList">
											<option value="">请选择</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-3 control-label">用户角色：</label>
									<div class="col-md-9">
										<select class="form-control" data-ng-model="vo.userPower"
											data-ng-options="item.code as item.name for item in userPowerList">
											<option value="">请选择</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-3 control-label">用户状态：</label>
									<div class="col-md-9">
										<select class="form-control" data-ng-model="vo.state"
											data-ng-options="item.code as item.name for item in stateList">
											<option value="">请选择</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 查询 -->
					<div class="form-actions">
						<div class="row">
							<div class="col-md-12" style="text-align: center">
								<button type="button" class="btn blue" ng-click="searchClick()">
									<i class="fa fa-search"></i> 查询
								</button>
								<button type="button" class="btn default"
									ng-click="resetClick()">
									<i class="fa fa-eraser"></i> 清空
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="table-toolbar" ng-show="userInfo.userPower>2">
				<div class="btn-group">
					<a href="#/user_add.html" class="btn blue"> <i
						class="fa fa-plus"></i> 新增用户
					</a>
				</div>
			</div>
			<div class="table-container">
				<table class="table table-striped table-bordered table-hover"
					id="datatable_ajax">
					<thead>
						<tr class="heading">
							<th>序号</th>
							<th>编号</th>
							<th>姓名</th>
							<th>性别</th>
							<th>年龄</th>
							<th>电话</th>
							<th>角色</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX" ng-repeat="item in vm.items">
							<td><span
								ng-bind="$index+1+((vm.pages.index-1)*vm.pages.itemsPerPage)"></span></td>
							<td><span ng-bind="item.userId"></span></td>
							<td><a ng-href="#/user_detail/{{item.userId}}"> <span
									ng-bind="item.userName"></span>
							</a></td>
							<td><span ng-show="item.userSex == 1">帅哥</span> <span
								ng-show="item.userSex == 2">美女</span></td>
							<td><span ng-bind="item.userAge"></span>
							</td>
							<td><span ng-bind="item.userTel"></span>
							</td>
							<td><span class="label label-sm label-primary" ng-show="item.userPower == 1">员工</span><span
								class="label label-sm label-warning" ng-show="item.userPower == 2">部门主管</span>
								<span class="label label-sm label-danger" ng-show="item.userPower == 3">管理员</span></td>
							<td><span class="label label-sm label-success" ng-show="item.state == 1">启用</span> <span
								class="label label-sm label-default" ng-show="item.state == 2">停用</span>
							</td>
							<td><a ng-href="#/user_detail/{{item.userId}}"
								class="btn btn-xs default btn-editable"> <i
									class="fa fa-file-text-o"></i> 详情
							</a> <a href="#/user_edit/{{item.userId}}" ng-show="userInfo.userPower>2"
								class="btn btn-xs default btn-editable"
								> <i class="fa fa-edit"></i>
									编辑
							</a><span ng-show="userInfo.userPower>2"><a ng-show="item.state==1"
								class="btn btn-xs default btn-editable" ng-click="disabled(item.userId)"> <i
									class="fa fa-lock"></i> 停用
							</a><a ng-show="item.state==2" class="btn btn-xs default btn-editable" 
							ng-click="enabled(item.userId)"> <i
									class="fa fa-unlock"></i> 启用
							</a></span>
							<span ng-show="userInfo.userPower>2"><a
								class="btn btn-xs default btn-editable" ng-click="resetPwd(item.userId)"> <i
									class="fa fa-key"></i> 重置密码
							</a></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<pagination boundary-links="true"
				items-per-page="vm.pages.itemsPerPage"
				total-items="vm.pages.totalResult" ng-model="vm.pages.index"
				class="pagination-sm pull-right" previous-text="&lsaquo;"
				next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
				ng-change="getUserList()"></pagination>
			<h5>每页 {{vm.pages.itemsPerPage}}条 | 共 {{vm.pages.totalResult}}
				条记录 | 当前第 {{vm.pages.index}} 页 | 共 {{vm.pages.totalPage}} 页</h5>
		</div>
	</div>
	<script>
		$('.date-picker').datepicker({
			rtl : Metronic.isRTL(),
			autoclose : true
		});
	</script>
</div>
