<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true" ng-click="cancel()">×</button>
	<h3 class="modal-title">修改密码</h3>
</div>
<div class="modal-body">
	<div class="portlet-body form">
		<form class="form-horizontal" name="myForm" novalidate>
			<div class="form-body">
				<div class="row">
					<div class="form-group">
						<div class="col-md-8 col-md-offset-2">
							<div class="input-group">
							    <span class="input-group-addon"><span>原密码</span></span>
							    <input type="password" class="form-control"  ng-model="user.oldPwd" placeholder="原密码" required>
						   </div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-8 col-md-offset-2">
							<div class="input-group">
							    <span class="input-group-addon"><span>新密码</span></span>
							    <input type="password" class="form-control"  ng-model="user.newPwd" placeholder="新密码"  name="newPwd" required>
						   </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-8 col-md-offset-2">
							<div class="input-group">
							    <span class="input-group-addon"><span>确认密码</span></span>
							    <input type="password" class="form-control" ng-model="user.newPwd1" placeholder="确认密码"  name="newPwd1" required>
							    
						   </div>
						   <span class="col-md-8 col-md-offset-2"  style="color:red" ng-show="myForm.newPass.$dirty && myForm.newPass1.$dirty && user.newPass != user.newPass1">密码不一样</span>
						</div>
					</div>
				</div>
				
				<input class="btn btn-primary col-md-offset-3" value="保存" type="submit" ng-click="upDatePassword(user)" data-ejp-no-more-submit  ng-disabled="myForm.$invalid || user.newPass != user.newPass1" >
				<input class="btn btn-warning" type="button" value="取消" ng-click="cancel()">
		</form>
	</div>
	<!-- <input class="btn btn-primary col-md-offset-3" value="保存" type="submit" ng-click="ok(addparams)" ng-disabled="myForm.version.$dirty && myForm.version.$invalid || myForm.apiUrl.$dirty && myForm.apiUrl.$invalid"> -->
</div>