<div style="margin-bottom:10px">
	<!-- BEGIN PAGE HEADER-->
	<h3 class="page-title" data-ng-bind="$state.current.data.pageTitle"></h3>
	<div data-ncy-breadcrumb></div>
	<div class="page-toolbar">
					<div class="btn-group col-md-10 pull-right">
						<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle
						 col-md-2 pull-right" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
						Actions <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu col-md-2 pull-right" role="menu">
							<li>
								<a href="" ng-click="findAllSpeechList()" >查看全部</a>
							</li>
							<li>
								<a href="#" ng-click="findMySelfSpeechList()">仅看自己</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#/speech_add.html">发表言论</a>
							</li>
						</ul>
					</div>
				</div>
	
</div>
<div class="row">
<div class="col-md-12">
<div class="timeline row panel panel-default col-md-10" style="margin-left:0px">
				<!-- TIMELINE ITEM -->
				<div class="timeline-item  panel-body col-md-12" data-ng-repeat="item in vm.items">
				<div class="row">
					<div class="timeline-badge col-md-2">
						<span class="glyphicon glyphicon-user" style="font-size:60px;margin:30px 30px"></span>
						<!-- <img class="timeline-badge-userpic" src="../../assets/pages/media/users/avatar80_1.jpg" style="width:80px"> -->
					</div>
					<div class="timeline-body col-md-8">
						<div class="timeline-body-arrow">
						</div>
						<div class="timeline-body-head">
							<div class="timeline-body-head-caption">
								<div><a href="javascript:;" style="font-size:20px;" class="timeline-body-title font-blue-madison" >{{item.createUserName}}</a></div>
								<div><span style="font-size:18px;" class="timeline-body-time font-grey-cascade" 
								ng-bind="item.createTime |date:'yyyy-MM-dd'"></span></div>
								<div><span style="font-size:15px;" class="timeline-body-time font-grey-cascade" 
								ng-bind="item.createTime |date:'HH:mm:ss'"></span></div>
							</div>
						</div>
					</div>
					</div>
					<hr>
					<div class="timeline-body-content row col-md-12">
							<div class="font-grey-cascade row col-md-12">
							<span class="col-md-12">{{item.context}}</span>
							 </div>
						
						<div class="timeline-body-head-actions row col-md-12">
								<span ng-click="findCurrentUserSpeechList(item.createUser)" class="glyphicon glyphicon-hand-up pull-right" 
								style="font-size:25px;margin:8px 10px; cursor:pointer" title="仅看ta"></span>
								<span ng-click="addPraiseNum(item.speechId)" class="glyphicon glyphicon-thumbs-up pull-right" 
								style="font-size:25px;margin:8px 10px; cursor:pointer" title="为ta点赞"></span>
								<span class="pull-right" style="font-size:15px;margin:6px 0;" ng-bind="item.praiseNum"></span>
					</div>
					<div class=" row col-md-12">
					<span data-ng-repeat="praiseRecord in item.praiseRecords "><a href="">{{praiseRecord.userName}}、</a>
						</span><span></span>等人觉得很赞</div>
					<div data-ng-repeat="comment in item.comments"><span class="row col-md-12">
					<a href="">{{comment.userName}}</a>:{{comment.context}}</span></div>
					<div class=" row col-md-12">
    						<div class="input-group">
      						<input type="text" class="form-control" placeholder="评论..." ng-model="vo.commentText">
      						<span class="input-group-btn">
        					<button ng-disabled="!vo.commentText" class="btn btn-default" type="button" ng-click="releaseComment(item.speechId)">发表</button>
     						</span>
    </div><!-- /input-group -->
  </div>
				</div>
				</div>
				<pagination boundary-links="true"
				items-per-page="vm.pages.itemsPerPage"
				total-items="vm.pages.totalResult" ng-model="vm.pages.index"
				class="pagination-sm pull-right" previous-text="&lsaquo;"
				next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
				ng-change="getSpeechList()"></pagination>
			<h5>每页 {{vm.pages.itemsPerPage}}条 | 共 {{vm.pages.totalResult}}
				条记录 | 当前第 {{vm.pages.index}} 页 | 共 {{vm.pages.totalPage}} 页</h5>
				<!-- END TIMELINE ITEM -->
			</div>
</div></div>
