<div>
	<!-- BEGIN PAGE HEADER-->
	<h3 class="page-title" data-ng-bind="$state.current.data.pageTitle"></h3>
	<div data-ncy-breadcrumb></div>
</div>
<div class="timeline row panel panel-default col-md-10">
				<!-- TIMELINE ITEM -->
				<div class="timeline-item  panel-body col-md-10" data-ng-repeat="item in vm.items">
				<div class="row">
					<div class="timeline-badge col-md-2">
						<img class="timeline-badge-userpic" src="../../assets/pages/media/users/avatar80_1.jpg" style="width:80px">
					</div>
					<div class="timeline-body col-md-8">
						<div class="timeline-body-arrow">
						</div>
						<div class="timeline-body-head">
							<div class="timeline-body-head-caption">
								<div><a href="javascript:;" style="font-size:20px;" class="timeline-body-title font-blue-madison" >{{item.createUserName}}</a></div>
								<div><span style="font-size:20px;" class="timeline-body-time font-grey-cascade" 
								ng-bind="item.createTime |date:'yyyy-MM-dd HH:mm:ss'"></span></div>
							</div>
						</div>
					</div>
					</div>
					<hr>
					<div class="timeline-body-content row col-md-12">
							<div class="font-grey-cascade row col-md-12">
							<span class="col-md-10 col-md-offset-2">{{item.context}}</span>
							 </div>
						
						<div class="timeline-body-head-actions row col-md-12">
							
								<div class="btn-group pull-right">
									<button class="btn btn-circle green-haze btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
									Actions <i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu pull-right" role="menu">
										<li>
											<a href="javascript:;">Action </a>
										</li>
										<li>
											<a href="javascript:;">Another action </a>
										</li>
										<li>
											<a href="javascript:;">Something else here </a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="javascript:;">Separated link </a>
										</li>
									</ul>
								</div>
								<span ng-click="addPraiseNum(item.speechId)" class="glyphicon glyphicon-thumbs-up pull-right" 
								style="font-size:25px;margin:8px 10px; cursor:pointer"></span>
								<span class="pull-right" style="font-size:15px;margin:6px 0;" ng-bind="item.praiseNum"></span>
					</div>
					<div class="timeline-body-head-actions row col-md-12">
					<span data-ng-repeat="praiseRecord in item.praiseRecords "><a href="">{{praiseRecord.userName}}、</a>
						</span><span></span>等人觉得很赞</div>
				</div>
				</div>
				<!-- END TIMELINE ITEM -->
			</div>